.main-container {
  display: flex;
  width: 100%;

  .header {
    width: $headerWidth;
  }
  @media only screen and (max-width: 600px) {
    .header {
      display: none;
      width: 0;
    }
  }
  .content {
    border: 1px solid #4e5358;
    border-top: none;
    width: $pageWidth - $headerWidth - $sideMenuWidth;
    .open-mobile-menu {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .content {
      border-bottom: 1px solid #4e5358;
      border-left: none;
      border-right: none;
      width: 100%;
      .open-mobile-menu {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $primary;
        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          &:not(:last-child) {
          }
          svg {
            width: 60px;
            height: 30px;
            fill: white;
          }
        }
      }
    }
  }
}
