.tweet-container {
  width: 100%;
  margin: 0 auto;

  .tweet-card {
    border-bottom: 1px solid #4e5358;
    position: relative;

    .tweet-content {
      width: 100%;
      display: flex;
      padding: 10px;

      .profile-photo {
        margin-right: 10px;
      }
      .tweet-info {
        width: 100%;
        .header {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          .user-info {
            display: flex;
            margin: 0;
            margin-bottom: 10px;
            align-items: center;
            h4 {
              margin: 0;
            }
            h5 {
              margin: 0px 3px;
              color: #4e5358;
            }
          }
          @media only screen and (max-width: 600px) {
            .header {
            }
            .user-info {
              display: block;
            }
          }
          .expanded-button {
            width: 30px;
            height: 30px;
            cursor: pointer;

            svg {
              width: 100%;
              height: 100%;
              fill: #444749;
              padding: 5px;

              &:hover {
                fill: #135987;
                background-color: #0a171f;
                border-radius: 999999px;
                transition: 300ms;
              }
            }
            .popup {
            }
          }
        }

        .tweet-text {
          margin-bottom: 8px;
        }
        @media only screen and (max-width: 600px) {
          .tweet-text {
            display: block;
          }
        }
        .tweet-media {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          border-radius: 10px;
          overflow: hidden;
          .image-container {
            width: calc(50%);
            height: 200px;

            &:not(:last-child) {
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          & .one {
            width: 100%;
            margin: 0 auto;
            min-height: 400px;
            img {
              width: 100%;
              margin: 0;
              height: 100%;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .tweet-container {
      height: auto;
    }
  }
}
