.tweet-container {
  min-width: 600px;
  max-width: 600px;
  margin: 0 auto;

  margin: 0 0;
  .tweet-content {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    .profile-photo {
      max-height: 60px;
      max-width: 60px;
      min-height: 60px;
      min-width: 60px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 99999px;
      }
    }
    .tweet-info {
      .user-info {
        display: flex;
        margin: 0;
        margin-bottom: 10px;
        align-items: center;
        h4 {
          margin: 0;
        }
        h5 {
          margin: 0;
          color: #4e5358;
        }
      }
      .tweet-text {
        margin-bottom: 8px;
      }
      .tweet-media {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .image-container {
          width: calc(50% - 10px);
          margin-bottom: 10px;
          height: 260px;
          margin-right: 10px;

          &:not(:last-child) {
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
        & .one {
          width: 100%;
          margin: 0;
          min-height: 400px;
          img {
            width: 100%;
            margin: 0;
            height: 100%;
          }
        }
      }
    }
  }
}
